<div class="p-6 max-w-7xl mx-auto">
  <div class="flex items-center justify-between mb-6">
    <!-- <button
      (click)="showForm = !showForm"
      class="bg-[#004EEB] text-white px-4 py-2 rounded-xl text-sm font-semibold hover:bg-blue-700 transition-colors cursor-pointer"
    >
      {{ showForm ? 'Cancel' : '+ New Epic' }}
    </button> -->
  </div>

  @if (showForm) {
    <div class="mb-8">
      <app-form-epic
        [projectId]="projectId"
        [projectMembers]="projectMembers"
        (created)="onEpicCreated($event)"
        (cancelled)="showForm = false"
      ></app-form-epic>
    </div>
  }

  @if (isLoading) {
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      @for (item of [1, 2, 3, 4, 5, 6]; track item) {
        <app-epic-card-skeleton></app-epic-card-skeleton>
      }
    </div>
  } @else if (hasError) {
    <app-empty-error (retry)="fetchEpics(projectId)"></app-empty-error>
  } @else if (epics.length === 0) {
     <app-empty-epic></app-empty-epic>
  } @else {
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      @for (epic of epics; track epic.id) {
        <app-card-epic [epic]="epic"></app-card-epic>
      }
    </div>
  }
</div>