<div class="flex flex-col items-center justify-center min-h-[400px] p-8 text-center">
  
  <div class="mb-6">
    <img src="assets/Abstract_Kinetic.svg" class="w-64 h-64" alt="No projects illustration" />
  </div>

  <h3 class="text-2xl font-bold text-[#0A192F]">No Projects</h3>
  <p class="text-gray-500 text-sm mt-3 max-w-xs leading-relaxed">
    You don’t have any projects yet. Start by defining your first architectural workspace to begin tracking tasks and epics.
  </p>

  <a
    routerLink="/project/add"
    class="mt-8 bg-[#0052CC] hover:bg-[#0047b3] text-white px-6 py-3 rounded-lg font-medium shadow-md transition-all flex items-center gap-2"
  >
    <div class="w-6 h-6 rounded-full border-2 border-white/50  flex items-center justify-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
      </svg>
    </div>
    <span>Create New Project</span>
  </a>
</div>