::ng-deep .custom-blue-input input {
    background-color: #D7E2FF !important;
    border: none !important;
    color: #1e293b !important;
    padding-top: 0.625rem !important;
    padding-bottom: 0.625rem !important;
}

input::-ms-reveal,
input::-ms-clear {
    display: none !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #D7E2FF inset !important;
    box-shadow: 0 0 0 1000px #D7E2FF inset !important;
    -webkit-text-fill-color: #1e293b !important;
}