<div class="absolute top-2 left-6 md:top-1 md:left-10 z-50">
  <app-nav-logo class="block w-[178px] h-[28px]" />
</div>

<div class="h-screen w-full bg-[#f8fafc] flex flex-col justify-start md:justify-center items-center px-4 overflow-y-auto md:overflow-hidden py-16 md:py-0">
  
  <div class="w-full max-w-[530px] bg-transparent md:bg-white md:border md:border-slate-100 md:shadow-[0px_24px_48px_0px_#041b3c0f] md:rounded-2xl p-0 md:p-8 flex flex-col gap-4 mt-8 md:mt-4">
    
    <div class="flex flex-col gap-1 w-full text-left md:text-center">
      <h1 class="text-2xl md:text-3xl font-bold text-slate-900 leading-tight tracking-tight">
        {{ title }}
      </h1>
      <p class="text-xs md:text-sm text-slate-500 leading-relaxed">
        {{ description }}
      </p>
    </div>

    <div class="w-full">
      <ng-content />
    </div>
    
  </div>

</div>