<div class="w-64 h-screen bg-[#F4F7FE] border-r border-slate-100 p-6 font-sans flex flex-col justify-between"> 
  
  <div>
    <div class="flex gap-3 mb-8 px-2 items-center">
      <img src="assets/Icon.png" class="h-6 w-6">
      <span class="text-[#003D9B] font-bold tracking-wider text-xl">TASKLY</span>
    </div>

    <nav class="flex flex-col gap-1.5">
      <a class="flex gap-3 items-center px-4 py-3 bg-white text-[#003D9B] rounded-xl font-bold shadow-sm cursor-pointer transition-all">
        <img src="assets/project-Icon.png" class="w-5 h-5">
        <span class="text-sm">Projects</span>
      </a>
      
      <a class="flex gap-3 items-center px-4 py-3 text-slate-500 hover:bg-white/60 hover:text-slate-800 rounded-xl font-medium cursor-pointer transition-all">
        <img src="assets/project-Epics-icon.png" class="w-5 h-5">
        <span class="text-sm">Project Epics</span>
      </a>

      <a class="flex gap-3 items-center px-4 py-3 text-slate-500 hover:bg-white/60 hover:text-slate-800 rounded-xl font-medium cursor-pointer transition-all">
        <img src="assets/Project-task-icon.png" class="w-5 h-5">
        <span class="text-sm">Project Tasks</span>
      </a>

      <a class="flex gap-3 items-center px-4 py-3 text-slate-500 hover:bg-white/60 hover:text-slate-800 rounded-xl font-medium cursor-pointer transition-all">
        <img src="assets/project-members-icon.png" class="w-5 h-5">
        <span class="text-sm">Project Members</span>
      </a>

      <a class="flex gap-3 items-center px-4 py-3 text-slate-500 hover:bg-white/60 hover:text-slate-800 rounded-xl font-medium cursor-pointer transition-all">
        <img src="assets/project-Icon.png" class="w-5 h-5">
        <span class="text-sm">Project Details</span>
      </a>
    </nav>
  </div> 
  <div class="flex flex-col gap-1 border-t border-slate-200/60 pt-4">
    <button class="w-full flex items-center gap-3 px-4 py-2.5 text-slate-500 hover:text-slate-800 text-sm font-medium rounded-xl transition-all">
        <img src="assets/Collapse.png" class="w-5 h-5">
      <span>Collapse</span>
    </button>
    
    <button class="w-full flex items-center gap-3 px-4 py-2.5 text-red-500 hover:bg-red-50 rounded-xl text-sm font-bold transition-all">
        <img src="assets/logout.png" class="w-5 h-5">
      <span>Logout</span>
    </button>
  </div>

</div>